#displayField{
    font-family: monospace;
    font-size: x-large;
    width: 28em;
    height: 5em;
    border: solid;
    margin: 1em auto;
    padding: 1em 1em 1em 2em;

}

.correctLetter {
    background-color: green;
}

.incorrectLetter{
    background-color: red;
}