#displayField{
    font-family: monospace;
    font-size: x-large;
    width: 27em;
    height: 4em;
    border: solid;
    padding: 1em;
    margin: 1em auto;

}

.correctLetter {
    background-color: green;
}

.incorrectLetter{
    background-color: red;
}