#displayField{
    font-family: monospace;
    width: 60em;
    height: 4em;
    border: solid;
    padding: 1em;
}

.correctLetter {
    background-color: green;
}

.incorrectLetter{
    background-color: red;
}